.footer {
  background-color: #fde4e4;

  margin: 0px auto;
}
.footer_Section {
  margin-top: 50px;
  max-width: 1300px;
  margin: 0px auto;
}
.logofooter img {
  width: 40px !important;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logo span {
  font-size: 20px;
  font-weight: 600;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}
.logofooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 250px;
}
.logofooter span {
  font-size: 20px;
  font-weight: 600;
}
.develiryTime {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.develiryTime p {
  font-size: 20px;
  font-weight: 800;
}
.develiryTime div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
.develiryTime .days {
  font-size: 20px;
  font-weight: 600;
}
.develiryTime .times {
  font-size: 18px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}
.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact p {
  font-size: 20px;
  font-weight: 800;
}
.contact .contactphoneNumber {
  font-size: 18px;
  font-weight: 700;
}
.contact .contactEmail {
  font-size: 18px;
  font-weight: 700;
}
.newsletter p {
  font-size: 20px;
  font-weight: 800;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}
.newsletter input {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}
.sendEmail {
  position: relative;
  padding: 12px;
}
.sendEmail .sendIcon {
  position: absolute;
  font-size: 24px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  display: flex;
  border: 1px solid black;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.icon {
  font-size: 24px;
  position: absolute;
  right: 0;
  background-color: rgb(235, 136, 7);
  width: 70px;
  height: 35px;
  left: 70%;
  top: 10%;
  border-radius: 10px;
  color: #fff;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  /* text-align: center; */
}
.copyrights {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.copyrights p {
  color: #df2020;
}
.copyrights div {
  display: flex;
  gap: 30px;
}
.copyrights ion-icon {
  font-size: 24px;
  color: #df2020;
  cursor: pointer;
}
.sendEmailButton {
  background-color: white;
  font-size: 28px;
  color: #df2020;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .copyrights {
    margin: 20px;
    gap: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .contactEmail {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 360px) {
  .footer {
    max-width: 360px;
    box-sizing: border-box;
  }
  .contactEmail {
    font-size: 12px !important;
  }
  .copyrights ion-icon {
    font-size: 16px;
  }
  .copyrights div {
    gap: 20px;
  }
}
